@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-wrapper {
  background-image: url("/svgs/bg.svg");
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;

}